
.Navbar_div{
    height: 7vh;
    background-color: black;
    display: flex;
    flex-direction: row;  
    
}

.navbar_ul{
    width: 40%;
    margin-left: 24%;
    margin-top: 1.2%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.navbar_pages{
    display: flex;
    margin-top: 1.2%;
    flex-direction: row ;  
    width: 3%;
    justify-content: space-evenly;
    
    
}

.li_i{
    width: 100%;
    height: 80%;
   
    
}


.navbar_lenguages{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 4.5%;
    margin-top: 1.2%;
    margin-left: 10%;
}

.navbar_li{
    
    list-style: none;
    color: white;
}

.navbar_li:hover{
    cursor: pointer;
    color: rgb(164, 164, 233);
    transition: .5s;
}

.navbar_li img{
    width: 100%;
    height: 100%;
    object-fit: fill;

    
}



.lenguage_button{
    height: 100%;
    width: 100%;
    background-color: black;
}