
.Navbar_div{
    position:fixed;
    width: 100%;
    height: 7vh;
    background-color: black;
    display: flex;
    flex-direction: row;  
    
   
    
}

.navbar_ul{
    width: 35%;
    margin-left: 30%;
    margin-top: 1.2%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.navbar_pages{
    display: flex;
    margin-top: 1.2%;
    flex-direction: row ;  
    width: 3%;
    justify-content: space-evenly;
    
    
}



.navbar_lenguages{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 4.5%;
    margin-top: 1.2%;
    margin-left: 10%;
}

.navbar_Button{
    background-color: black;
    user-select: none;
    list-style: none;
    color: white;
    border: none;
}

.navbar_Button:hover{
    cursor: pointer;
    color: rgb(164, 164, 233);
    transition: .5s;
}

.navbar_Button:disabled{
    border: none;
    color: rgb(164, 164, 233);
    
}

.navbar_li img{
    width: 100%;
    height: 100%;
    

    
}



.lenguage_button{
    height: 100%;
    width: 100%;
    background-color: black;
    cursor: pointer;
}
.responsive_navbar_lenguages{
    
    position: fixed;
    
    justify-content: center;
    align-items: center;
    width: 15%;
    
    top: 8vh;
    right: 0;
    background-color: green;
    display: none;
}

a {
    display: flex;
    height: 100%;
}

@media (max-width: 900px){
    .Navbar_div{
        position:fixed;
        width: 100%;
        height: 8vh;
        background-color: black;
        display: flex;
        flex-direction: row; 
        flex-wrap: wrap; 
    }

    .navbar_pages{
        display: none;
         
    }
    .navbar_lenguages{
        display: none;
        
    }
    .navbar_ul{
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
    }
    .responsive_navbar_lenguages{
        display: flex;
        height: 5vh;
        
        
        
    }
    .navbar_Button{
        border: none;
        
    }
    .lenguage_button{
        border: none;
        
       
    }
    .navbar_ul {
        justify-content: center;
        align-items: center;
        margin-top: auto;
        margin-bottom: auto;
        flex-wrap: wrap;
        
    }
    .navbar_li img{
        margin: 0;
        
        
    
        
    }
    .navbar_li{
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}