.card{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20%;
    user-select: none;
    height: 22%;
    
    
    padding: 3%;
    border-radius: 10%;
}


.card img{
    object-fit: cover;
    height: 50%;
}